body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  border: 1px solid #ddd;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

.maindiv {
  background-color: #fdfdfd;
  border: 1px solid #333;
  padding: 32px;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #dee2e6;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}

.nav-links li {
  margin-left: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  height: 50px;
  margin-right: 10px;
}



.logo {
  width: 100px;
  height: 100px;
}

.product {
  background-color: #ffffff;
  display: "flex";
  align-items: "center";
  border-bottom: 2px solid #dee2e6;
}

label {
  font-size: 20px;
}

select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.quantity {
  margin: 15px;
  font-size: 20px;
}

.quantityButton {
  background-color: #f1f0f0;
  border: 1;
  border-color: black;
  color: black;
}

.orderinfo {
  background-color: #ffffff;
  padding: 10px;
  margin: auto;
  border-bottom: 2px solid #dee2e6;
}

table {
  margin: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.news {
  padding-top: 20px;
}